[submodule "sem_01/bmstu_iu7_python"]
	path = sem_01/bmstu_iu7_python
	url = https://github.com/deniska-ned/bmstu_iu7_python.git
[submodule "sem_02/bmstu_iu7_python"]
	path = sem_02/bmstu_iu7_python
	url = https://github.com/deniska-ned/bmstu_iu7_python.git
[submodule "sem_02/bmstu_iu7_C"]
	path = sem_02/bmstu_iu7_C
	url = https://github.com/deniska-ned/bmstu_iu7_C.git
[submodule "sem_03/bmstu_iu7_C"]
	path = sem_03/bmstu_iu7_C
	url = https://github.com/deniska-ned/bmstu_iu7_C.git
[submodule "sem_03/bmstu_iu7_dts"]
	path = sem_03/bmstu_iu7_dts
	url = https://github.com/deniska-ned/bmstu_iu7_dts.git
[submodule "sem_04/bmstu_iu7_ca"]
	path = sem_04/bmstu_iu7_ca
	url = https://github.com/deniska-ned/bmstu_iu7_ca.git
[submodule "sem_04/bmstu_iu7_cg"]
	path = sem_04/bmstu_iu7_cg
	url = https://github.com/deniska-ned/bmstu_iu7_cg.git
[submodule "sem_04/bmstu_iu7_mdpl"]
	path = sem_04/bmstu_iu7_mdpl
	url = https://github.com/deniska-ned/bmstu_iu7_mdpl.git
[submodule "sem_04/bmstu_iu7_oop"]
	path = sem_04/bmstu_iu7_oop
	url = https://github.com/deniska-ned/bmstu_iu7_oop.git
